/* HeaderMenu.module.css */
.header {
  position: sticky;
  top: 0px;
  background-color: #FFD100;  
  z-index: 1000;
  width: 100vw;
  margin-left: -16px;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 4px;
  padding: 0px 8px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  transition: background-color .3s ease;
  font-family: "Trebuchet MS", sans-serif;
}

.link:hover {
    background-color: whitesmoke;
}

.active {
  background-color: whitesmoke;
  text-decoration: underline;
}

.linkLabel {
  margin-right: 5px;
}
