/* HeaderMenu.module.css */
.header {
  position: sticky;
  top: 0px;
  background-color: #f5ede0;
  z-index: 1000;
  width: 100vw;
  margin-left: -16px;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 4px;
  padding: 0px 8px;
  text-decoration: none;
  color: #1a1a1a;
  font-size: var(--mantine-font-size-sm);
  transition: background-color 0.3s ease;
  font-family: var(--font-zilla-slab), Georgia, serif;
}

.link:hover {
  background-color: #e8ddd0;
}

.active {
  background-color: #e8ddd0;
  text-decoration: underline;
}

.linkLabel {
  margin-right: 5px;
}
